# Clojure stuff
*.class
*.jar
/.cpcache
/.nrepl-port
/.repl
/classes
/out
/target

# CLJS stuff
.cljs_node_repl
/node_modules
package-lock.json
/.shadow-cljs
/resources/public/js/test/

# Certs
/*.pem
/*.p12
